<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.firebears.scouting2846">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
	<provider android:name=".OurContentProvider"
	          android:authorities="org.firebears.scouting2846" />
        <activity
            android:name=".EventListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".EventDetailActivity"
            android:parentActivityName=".EventListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.firebears.scouting2846.EventListActivity"/>
        </activity>
        <activity
            android:name=".TeamListActivity"
            android:parentActivityName=".EventDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.firebears.scouting2846.EventDetailActivity"/>
        </activity>
        <activity
            android:name=".TeamDetailActivity"
            android:parentActivityName=".TeamListActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.firebears.scouting2846.TeamListActivity"/>
        </activity>
        <activity
            android:name=".BrowseActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask"/>
        <activity
            android:name=".MatchListActivity"
            android:parentActivityName=".EventDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.firebears.scouting2846.EventDetailActivity"/>
        </activity>
        <activity
            android:name=".MatchDetailActivity"
            android:parentActivityName=".MatchListActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.firebears.scouting2846.MatchListActivity"/>
        </activity>
        <activity
            android:name=".ScoutingActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask"/>
        <activity
            android:name=".SelectDeviceActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/Theme.AppCompat.Light.Dialog"/>
        <service
            android:name=".BluetoothSyncService"
            android:exported="false"/>
    </application>

</manifest>
